<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hobbing" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HOBBING">
        <activity android:name="com.wisappstudio.hobbing.activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wisappstudio.hobbing.activity.IntroActivity" />
        <activity android:name="com.wisappstudio.hobbing.activity.SignInActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.SignUpActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.MainActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.WritePostActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.InnerPostActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.ProfileSettingActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.MyInfoActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.UserLogActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.InfoChangeActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.UpdatePostActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.TermsOfServiceActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.WriteProfileActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.DeleteAccountActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.SelectCategoryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.wisappstudio.hobbing.activity.NotificationSettingActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.ActionLogSettingActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.FollowerNotificationSettingActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.PostNotificationSettingActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.VersionActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.QuestionActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.NoticeActivity"/>
        <activity android:name="com.wisappstudio.hobbing.activity.BackTermsOfServiceActivity"/>
    </application>
</manifest>